
.App {
  text-align: center;
  background-color: #000000;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header{
  
  display: block;
  border-bottom: solid  #1587EF 1px;
  
}

.custom_div_navbar{
  border: solid red 1px;
  
}

.App-body {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 0;
}

.App-link {
  color: #61dafb;
}

.App-body-title-div{
  margin-top: 50px;
  width: 149vh;
  display:flex;
}

.App-SubBG{
height: 44vh;
width: 149vh;
margin-top: 10px ;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid #1587EF;
overflow: auto;

}

.custom-card{
  width: 17.4rem;
  margin: 10px;
  transition: transform .05ms;
  z-index: 200;
}

.App-Contactos{
  height: 10vh;
  width: 150vh;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid #1587EF;
  overflow: auto;
  margin-top: 50px;
  }


.custom-card:hover{
transform: scale(1.03);
}
custom-tr{
  text-align: center;
}
.custom-card-p{
  font-size: 15px;
}
.icono {
  width: 30px;
}

.custom-max-height{
  display: flex;
  height: 100px; 
  overflow: hidden;
}


/*---------------SCROLLL----------------*/
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

